<%= content_for :page_title do %> Tasks <%end%>
<% content_for :pre_content do %>
  <% if @tasks.present? %>
    <div class="flex items-center justify-end mb-4">
      <div class="flex items-center space-x-2">
        <%= link_to new_task_path, {
          class: "btn-primary-sm-outline"
        } do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="inline-block size-4 mr-1">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
          </svg>
          New Task
        <% end %>
      </div>
    </div>
  <% end%>
<% end %>
<div class="p-4 md:p-8 bg-white rounded-3xl">
  <% if @tasks.empty? %>
    <div class="flex space-y-4 flex-col justify-center border rounded-xl  p-6">
      <h2 class="text-gray-800 font-semibold text-lg text-center">
        Looks like you don't have tasks yet.
      </h2>
      <p class="text-center">Start by creating your first task</p>
      <p class="text-center">
        <%= link_to "New Task", new_task_path, class: "btn-primary-outline" %>
      </p>
    </div>
  <% else %>
    <ul class="">
      <li class="py-3 flex items-center border-b">
        <p class="w-[200px] font-semibold">Title</p>
        <p class="w-[200px] font-semibold">Status</p>
        <p class="w-[200px] font-semibold">Task Type</p>
      </li>
      <%= render @tasks %>
    </ul>
  <% end %>
</div>