<%= content_for :page_title do %> New Task <%end%>
<% content_for :pre_content do %>
  <div class="flex items-center">
    <div class="flex-1">
      <%= link_to tasks_path, class: "w-auto inline-block mb-4 text-gray-800 p-1 px-2 text-sm" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 inline-block me-1">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18" />
        </svg>
        Back to tasks
      <% end %>
    </div>
  </div>
<% end %>
<%= render partial: "form", locals: { task: @task } %>