<%= content_for :page_title do %> Home <%end%>
<div class="py-8 flex">
  <div class="grow">
    <% if user_signed_in? %>
      <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn-primary-outline" %>
    <% else %>
      <%= link_to "Log in", new_user_session_path, class: "btn-primary" %>
    <% end %>
  </div>
  <%= link_to "Dashboard", tasks_path, class: "btn-primary" %>
</div>
